<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- scanning catalog for Sony components -->
	<context:component-scan base-package="ru.javabegin.training.spring.impls.sony"/>
	<!-- Create bean t1000 with Sony components -->
	<bean id="t1000"
		class="ru.javabegin.training.spring.impls.robot.ModelT1000">
		<constructor-arg ref="sonyHand"/>
		<constructor-arg ref="sonyLeg"/>
		<constructor-arg ref="sonyHead"/>
	</bean>

	<!--<bean id="sonyHand" class="ru.javabegin.training.spring.impls.sony.SonyHand"/>
	<bean id="sonyHead" class="ru.javabegin.training.spring.impls.sony.SonyHead"/>
	<bean id="sonyLeg" class="ru.javabegin.training.spring.impls.sony.SonyLeg"/>-->

	<bean id="toshibaRobot" class="ru.javabegin.training.spring.impls.robot.ModelT1000">
		<constructor-arg ref="toshibaHand"/>
		<constructor-arg ref="toshibaLeg"/>
		<constructor-arg ref="toshibaHead"/>
	</bean>

	<bean id="toshibaHand" class="ru.javabegin.training.spring.impls.toshiba.ToshibaHand"/>
	<bean id="toshibaHead" class="ru.javabegin.training.spring.impls.toshiba.ToshibaHead"/>
	<bean id="toshibaLeg" class="ru.javabegin.training.spring.impls.toshiba.ToshibaLeg"/>

	<!-- scanning catalog for Philips components-->
	<context:component-scan base-package="ru.javabegin.training.spring.impls.philips"/>

	<!-- for Samsung configuration-->

	<bean id="samsungHand" class="ru.javabegin.training.spring.impls.samsung.SamsungHand"/>
	<bean id="samsungHead" class="ru.javabegin.training.spring.impls.samsung.SamsungHead"/>
	<bean id="samsungLeg" class="ru.javabegin.training.spring.impls.samsung.SamsungLeg"/>

	<bean id="samsungRobot"
		  class="ru.javabegin.training.spring.impls.samsung.SamsungRobot">
		<property name="hand" ref="samsungHand"/>
		<property name="leg" ref="samsungLeg"/>
		<property name="head" ref="samsungHead"/>
	</bean>
</beans>
